.contact-form{
    display:flex;
    flex-direction: column;
    h2, p {
        padding: .5em;
        @include mobile-tablet {
            width: 80%;
            padding: 1em;
        }
    }
    a {
        padding: 0;
    }
}
.form {
    padding: 1em;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 40%;
    justify-content: space-between;
    min-height: 15rem;
    input, textarea {
        // border-radius: .5em;
        border: none;
        border-bottom: 1px solid $color-primary;
        border-right: 1px solid $color-primary;
        margin-bottom: 1em;
    }
    textarea {
        min-height: 8em;
    }
    label {
        text-transform: uppercase;
    }
    .send-button {
        background-color: $color-tertiary;
        color: $color-secondary-very-light;
        padding: .5em;
        font-family: "Bubbler One", sans-serif;
        font-size: 1.7em;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: $color-secondary;
            color: $dark;
        }
    }
    @include mobile-tablet {
        width: 80%;
    }
}
.hidden {
    display: none;
}
.confirmation-message {
    font-size: 1.2em;
    color: $color-tertiary;
    font-weight: 500;
}
.error-message {
    font-size: 1.2em;
    color: red;
    font-weight: 500;
}
.error {
    color: #FD2D01
}