.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border: .1em solid $color-secondary;
    border-radius: 1em;
    padding: 1em;
    button {
        background-color: $color-tertiary;
        border-radius: 50%;
        border: none;
        padding: 1em;
        z-index: 4;
        cursor: pointer;
        &:hover {
            background-color: $color-quaternary;
        }
    }
    .arrow-left {
        position: absolute;
        left: -3em;
        top: 50%;
        transform: translateY(-50%);
    }
    .arrow-right {
        position: absolute;
        right: -3em;;
        top: 50%;
        transform: translateY(-50%);
    }
    .hidden {
        display: none;
    }
    .carousel-image{
        margin: auto;
        z-index: 1;
    }
    .carousel-content {
        display: flex;
        .carousel-text{
            display: flex;
            flex-direction: column;
            padding: .5em;
        }
    }
    .carousel-footer {
        font-size: .8em;
    }
}