.create-post-container {
    padding: 1em;
    a {
        width: 25%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
        background-color: $color-tertiary;
        color: $color-secondary-very-light;
        border-radius: 1em;
        margin: auto;
        &:hover{
            background-color: $color-secondary;
            color: $dark;
        }
    }
    .fa {
        margin: 1em 0;
    }
    .confirmation-message {
        color: $color-tertiary;
        font-size: 1.2em;
        font-family: "Bubbler One", sans-serif;
    }
}