// @import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Radio Canada', Helvetica, sans-serif;
  }

body {
  scroll-behavior: smooth;
  margin: 0 auto;
  font-size: 1em;
  background-color: $color-secondary-very-light;
}

section {
  padding: 1em 5em;
}

li {
  list-style-type: none;
}
a, .link {
    font-size: 1em;
  color: $color-primary-darker;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  padding: .3em;
  &:hover {
    border-radius: .5em;
    color: $color-primary-darker;
    background-color: $color-secondary;
  }
}

a:visited {
  text-decoration: none;
}


h1, .title {
  font-family: "Bubbler One", Helvetica, sans-serif;
  font-size: 2em;
  color: $color-primary-darker;
  display: inline;
  padding: .2em 0;
}

h2 {
    margin-top: 1em;
}

.hidden {
    display: none;
}


.allcaps {
    text-transform: uppercase;
}

button {
    background: none;
        border: none;
}

p{
  font-weight: 200;
  font-size: 1.2em;
}

.strong {
  font-weight: 500;
}

h2 {
  font-family: "Bubbler One", Helvetica, sans-serif;
  padding-bottom: .5em;
}